body {
    background-color: ghostwhite;
    width: 1600px;
    margin: 10px auto;
}

h2, h4 {
    margin: 10px 20px;
}

main {
    display: flex;
    flex-flow: column wrap;
}

div {
    display: flex;
    flex-flow: row wrap;
}

section {
    display: flex;
    flex-flow: column wrap;
}

.svgSection, .infoSection {
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
    background-color: white;
}

.guide {
    padding: 0 20px 20px 20px;
}

.guide p {
    width: 990px;
}

.infoSection {
    width: 520px;
    display: flex;
    flex-flow: row wrap;
}

.infoSection h2 {
    width: 400px;
}

.infoSection p {
    width: 220px;
    padding: 0 0 0 20px;
    margin: 0;
}

svg {
    margin: 10px 0 0 0;
}

:not(.brush) > rect {
    stroke: black;
    fill: ghostwhite;
}

.brush rect.selection {
    fill: black;
}

.brush rect.handle {
    stroke: black;
    fill: black;
}

:not(.axis) > path {
    stroke: black;
    stroke-width: 3px;
    fill: none;
}

.bar {
    fill: pink;
}

.earth {
    stroke: #1e1ebb;
    stroke-width: 1px;
    fill: forestgreen;
}

:not(.tick) > text {
    text-anchor: middle;
}
