body {
    background-color: ghostwhite;
    width: 1600px;
    margin: 10px auto;
}

h2, h4 {
    margin: 10px 20px;
}

main {
    display: flex;
    flex-flow: column wrap;
}

div {
    display: flex;
    flex-flow: row wrap;
}

section {
    display: flex;
    flex-flow: column wrap;
}

.svgSection, .infoSection {
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
    background-color: white;
}

.guide {
    padding: 0 20px 20px 20px;
}

.guide p {
    width: 400px;
}

.infoSection {
    width: 520px;
    height: 300px;
    max-height: 300px;
    min-height: 300px;
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
}

.infoSection h2 {
    width: 400px;
    border: none;
}

.infoSection > * {
    width: 45%;
    padding: 5px;
    margin: 3px;
    border: solid black 1px;
}

svg {
    margin: 10px 0 0 0;
}

:not(.brush) > rect {
    stroke: black;
    fill: ghostwhite;
}

.brush rect.selection {
    fill: black;
}

.brush rect.handle {
    stroke: black;
    fill: black;
}

:not(.axis) > path {
    stroke: black;
    stroke-width: 3px;
    fill: none;
}

.bar {
    fill: pink;
}

.earth {
    stroke: #1e1ebb;
    stroke-width: 1px;
    fill: forestgreen;
}

:not(.tick) > text {
    text-anchor: middle;
}

#diameterSection {
    border: solid black 1px;
    display: flex;
    flex-direction: column; 
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}

#velocitySection {
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
}