body {
    background-color: ghostwhite;
    width: 1600px;
    margin: 10px auto;
}

h2, h4 {
    margin: 10px 20px;
}

main {
    display: flex;
    flex-flow: column wrap;
}

div {
    display: flex;
    flex-flow: row wrap;
}

section {
    display: flex;
    flex-flow: column wrap;
}

.svgSection, .infoSection {
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
    background-color: white;
}

.infoSection {
    display: flex;
    flex-flow: row wrap;
}

.infoSection div {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
}

svg {
    margin: 10px 0 0 0;
}

:not(.brush) > rect {
    stroke: black;
    fill: ghostwhite;
}

.brush rect.selection {
    fill: black;
}

.brush rect.handle {
    stroke: black;
    fill: black;
}

:not(.axis) > path {
    stroke: black;
    stroke-width: 3px;
    fill: none;
}

.bar {
    fill: pink;
}

.earth {
    stroke: #1e1ebb;
    stroke-width: 10px;
    fill: forestgreen;
}

:not(.tick) > text {
    text-anchor: middle;
}
